 html {
  font-family: 'Roboto', sans-serif;
    
 }
 body {
  display: flex;
  flex-direction: column;
  background-image: url(imgs/header-shapes\ mobile.png);
  background-repeat: no-repeat;
    
 }


.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.img {
  list-style: none;
 

}

.introduction {
  font-size: 0.5cm;
    
    
}

.body-main {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-content: center;
}
.navbar {
  display: flex;
  align-items: flex-start;
  list-style: none;
  padding-bottom: 200px;
}


.connect .contact{
  display: flex;
  list-style: none;
}